<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show p-1 pt-3" role="alert">
    <p class="notice text-center"><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% elsif alert.present? %>
  <div class="alert alert-danger alert-dismissible fade show p-1 pt-3" role="alert">
    <p class="alert text-center"><%= alert %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<% end %>
